@import "tailwindcss";

:root {
    --background-main: #FAFAFA;
    --background-primery: #4F46E5;
    --color-main: #0F172A;
    --color-primery: #FAFAFA;
}

@theme inline {
    --font-inter: var(--font-inter);
}

body {
    background: var(--background-main);
    color: var( --color-main);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
